@using WebServer.Models;
@model WebServer.Models.MeetingModel
@{
    ViewData["Title"] = "Termine bearbeiten";
    List<MeetingModel> meetings = ViewData["meetings"] as List<MeetingModel>;
    int count = 0;
}
<h1>@ViewData["Title"]</h1>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Datum</th>
        <th scope="col">Uhrzeit</th>
        <th scope="col">Zeitspanne</th>
        <th scope="col">Gebucht</th>
        <th scope="col">Optionen</th>
    </tr>
    </thead>
    <tbody>
    @{
        foreach (var item in meetings)
        {
            count++;
            <tr>
                <th scope="row">@count</th>
                <td>@{ @item.DateTime.Date.ToShortDateString();}</td>
                <td>@{ @item.DateTime.ToShortTimeString();}</td>
                <td>@item.TimeSpan Stunden</td>
                <td>@{
                        if (item.Taken)
                        {
                            <p>Gebucht</p>
                        }
                        else
                        {
                            <p>Frei</p>
                        }
                    }
                </td>
                <td>
                    @{
                        if (!item.Taken)
                        {
                            <form method="post">
                                <input type="hidden" asp-for="ID" value="@item.ID"/>
                                <button type="submit" asp-controller="Meeting" asp-action="Edit" class="btn btn-primary btn-block">Ändern</button>
                                <button type="submit" asp-controller="Meeting" asp-action="Delete" class="btn btn-primary btn-block">Löschen</button>
                            </form>
                        }
                    }
                </td>
            </tr>
        }
    }
    </tbody>
</table>
<h1>Termin erstellen</h1>
<div class="col col-md-10 offset-md-1">
    <section>
        <form method="post">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Datum</label>
                        <input type="datetime-local" asp-for="DateTime" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Zeitspanne</label>
                        <select asp-for="TimeSpan">
                            <option value="0,5">0,5</option>
                            <option value="1,0">1</option>
                            <option value="1,5">1,5</option>
                            <option value="2,0">2</option>
                        </select>
                    </div>
                </div>
            </div>
            <button type="submit" asp-controller="Meeting" asp-action="Create" class="btn btn-primary btn-block">Erstellen</button>
        </form>
    </section>
</div>