@model UserModel
@{
    UserModel user = ViewData["user"] as UserModel;
    var Error = TempData["Error"] as string;
    if (!string.IsNullOrEmpty(Error))
    {
        <h2 class="alert-danger" style="padding: 20px">@Error</h2>
    }
}

<div class="card" style="width: 75%; margin: auto">
    <div class="card-header">
        <h1>Profildaten ändern</h1>
    </div>
    <div class="card-body">
        <form method="post">

            <div class="form-group">
                <input type="hidden" asp-for="Id" value="@user.Id" />
                <input type="hidden" asp-for="AccessLevel" value="@user.AccessLevel" />
                <datalist type="hidden" asp-for="Meetings" value="@user.Meetings" ></datalist>
            </div>
        

            <div class="card">
                <div class="card-header">
                    <h5>Benutzername:</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" asp-for="UserName" value="@user.UserName" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <br/>

            <div class="card">
                <div class="card-header">
                    <h5>E-Mail Adresse:</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" type="email" asp-for="Email" value="@user.Email" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <br/>

            <div class="card">
                <div class="card-header">
                    <h5>Passwort:</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Passwort eingeben:</label>
                                <br />
                                <input class="form-control" type="password" asp-for="Password" minlength="8"  required/>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Passwort wiederholen:</label>
                                <br />
                                <input class="form-control" type="password" asp-for="ConfirmPassword" minlength="8" required/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <br/>

            <button type="submit" asp-controller="Auth" asp-action="EditUser" class="btn btn-primary col-sm">Ändern</button>
        </form>
    </div>
</div>       