@using WebServer.Models;
@using WebServer.Services
@model WebServer.Models.MeetingModel
@{
    ViewData["Title"] = "Gebuchte Termine";
    List<MeetingModel> meetings = ViewData["meetings"] as List<MeetingModel>;
    List<MeetingModel> allMeetings = ViewData["allMeetings"] as List<MeetingModel>;
    int count = 0;
}


<meta charset='utf-8' />
<div class="embed-responsive-16by9">
    <div class="table-responsive">
        <div class="card">
            <div class="card-header">
                <h2>@ViewData["Title"]</h2>
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Datum</th>
                        <th scope="col">Uhrzeit</th>
                        <th scope="col">Zeitspanne</th>
                        <th scope="col">Gebucht</th>
                        <th scope="col">Optionen</th>
                    </tr>
                    </thead>
                    <tbody>
                    @{
                        foreach (var item in meetings)
                        {
                            count++;
                            <tr>
                                <th scope="row">@count</th>
                                <td>
                                    @{
                                        @item.DateTime.Date.ToString("dd/MM/yyyy")
                                        ;}
                                </td>
                                <td>
                                    @{
                                        @item.DateTime.ToString("dd/MM/yyyy")
                                        ;}
                                </td>
                                <td>@item.TimeSpan Stunden</td>
                                <td>
                                    @{
                                        if (item.Taken)
                                        {
                                            <p>Gebucht</p>
                                        }
                                        else
                                        {
                                            <p>Frei</p>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (item.Taken && !User.HasClaim(Roles.ADMIN, Roles.ADMIN))
                                        {
                                            <form method="post">
                                                <input type="hidden" asp-for="Id" value="@item.Id"/>
                                                <button type="submit" asp-controller="Meeting" asp-action="CancelMeeting" asp-route-id="@item.Id" class="btn btn-primary btn-block">Absagen</button>
                                            </form>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
        </div>

        <br/>

        <div class="card">
            <div class="card-header">
                <h2>Verfügbare Termine</h2>
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Datum</th>
                        <th scope="col">Uhrzeit</th>
                        <th scope="col">Zeitspanne</th>
                        <th scope="col">Gebucht</th>
                        <th scope="col">Optionen</th>
                    </tr>
                    </thead>
                    <tbody>
                    @{
                        foreach (var item in allMeetings)
                        {
                            count++;
                            <tr>
                                <th scope="row">@count</th>
                                <td>
                                    @{
                                        @item.DateTime.Date.ToShortDateString()
                                        ;}
                                </td>
                                <td>
                                    @{
                                        @item.DateTime.ToShortTimeString()
                                        ;}
                                </td>
                                <td>@item.TimeSpan Stunden</td>
                                <td>
                                    @{
                                        if (item.Taken)
                                        {
                                            <p>Gebucht</p>
                                        }
                                        else
                                        {
                                            <p>Frei</p>
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (!item.Taken && !User.HasClaim(Roles.ADMIN, Roles.ADMIN))
                                        {
                                            <form method="post">
                                                <input type="hidden" asp-for="Id" value="@item.Id"/>
                                                <button type="submit" asp-controller="Meeting" asp-action="Select" asp-route-id="@item.Id" class="btn btn-primary btn-block">Buchen</button>
                                            </form>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
        </div>

        <br/>
    </div>
</div>